Repository bcgov/jag-trafficcourts-citizens, changes with the labels that .github/labeler.yml gives for each.
All labels: Citizens Portal, Traffic Courts API, DevOps, Docker Compose

update env template
  .env.template
Labels: none

add guards, and userInfo
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.spec.ts
  src/frontend/citizen-portal/src/app/core/guards/auth.guard.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/auth/auth.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.html
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard/dashboard.component.html
  src/frontend/citizen-portal/src/app/modules/dashboard/dashboard.module.ts
  src/frontend/citizen-portal/src/app/modules/dispute/services/dispute-resource.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-js-routing.module.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-page/survey-page.component.spec.ts
  src/frontend/citizen-portal/src/app/modules/survey-js/survey-page/survey-page.component.ts
  src/frontend/citizen-portal/src/tests/mocks/mock-keycloak.service.ts
Labels: Citizens Portal

lint
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.spec.ts
Labels: Citizens Portal

lint
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.spec.ts
Labels: Citizens Portal

for carole
  src/frontend/citizen-portal/src/app/modules/auth/auth.module.ts
  src/frontend/citizen-portal/src/app/modules/auth/models/user.model.ts
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.spec.ts
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/dashboard.module.ts
  src/frontend/citizen-portal/src/environments/environment.ts
Labels: Citizens Portal

Carol's attempt
  src/frontend/citizen-portal/src/app/modules/auth/services/auth.service.ts
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.html
  src/frontend/citizen-portal/src/app/modules/dashboard/components/dashboard-header/dashboard-header.component.ts
Labels: Citizens Portal

disabling keycloak for now
  docker-compose.yml
Labels: Docker Compose

.github/labeler.yml:

# Add 'Citizens Portal' to changes in citizen portal
'Citizens Portal':
  - src/frontend/citizen-portal/**/*

# Add 'Traffic Courts' to changes in traffic court api
'Traffic Courts API':
  - src/backend/TrafficCourtsApi/**/*

# Add 'DevOps' to changes in openshift folder
'DevOps':
  - infrastructure/**/*

  # Add 'Docker Compose' to changes in openshift folder
'Docker Compose':
  - docker-compose.yml
